<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Creacion de Inscripcion Examen</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="table-stats order-table ov-h"> 
            <form action="{% url 'institucion:crear_inscripcion_examen_alumno' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 
                <div class="col col-md-3">Alumno: </div>
                <div class="row form-group">
                    {% for alumno in alumnos %}                                
                        <div class="col-12 col-md-9">                        
                            <input type="text" name="alumno" value="{{ alumno.apellido }}" class="form-control" readonly >  
                        </div>                        
                    {% endfor %}
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">Seleccione la materia a la que se quiere inscribir: </div>
                    {% for materia in materias %}
                        {% for inscripcion in ins %}
                            {% if inscripcion.id_materia == materia %}
                            <input type="submit" name="materia" class="btn btn-primary" value="{{ materia }}">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                
            </form>
        </div>
        
    </div>
</div>
