{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    Listado de Inscripciones Examenes
{% endblock titulo %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}

 {% block body %}     
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong class="card-title">Listado de Inscripciones de examenes</strong>
                </div>
                <div class="col-md-4">
                    <button  type="button" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'institucion:crear_inscripcion_examen' %}')">Crear Inscripcion Examen</button>
                </div>
            </div>
            
        </div>
        <div class="table-stats order-table ov-h">        
        <table id="tabla_inscripcion_examenes" class="table">
            <thead>
                <tr>
                    <th>#</th>   
                    <th>Fecha de Inscripcion</th>
                    <th>Id del alumno</th>
                    <th>Id de la Materia</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>  
                                        
            </tbody>
        </table>
        </div>
    </div>   
 <div class="modal fade" id="creacion" role="dialog">

 </div>
 <div class="modal fade" id="edicion" role="dialog">

 </div>
 <div class="modal fade" id="eliminacion" role="dialog"></div>
{% endblock body %}

 {% block extrajs %}
 <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
 <script src="{% static 'assets/js/lib/data-table/datatables.bootstrap.min.js' %}"></script>
 <script src="{% static 'assets/js/institucion/inscripcioexamen.js' %}"></script>
 {% endblock extrajs %}
 