{% extends 'index.html' %}
{% load static %}
{% block titulo %}
listado de alumnos por materia | {{ object }}
{% endblock titulo %}
{% block extra_css %}
{% endblock extra_css %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row" style="margin: 30px;">
            <div class="col-md-12 text-center ">
                <strong class="card-title">
                    <h2>Detalle Inscripcion: </h2>
                </strong>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="card">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text"><strong>materias</strong></p>{{ inscripcion.id_materia }}
                            </div>
                            <div class="col-md-12">
                                <p class="card-text"><strong>Alumno</strong></p>{{ inscripcion.id_alumno }}
                            </div>
                            <div class="col-md-12">
                                <p class="card-text"><strong>Horario</strong></p>{{ materia.obtener_horarios }}
                            </div>
                            {% if object_list %}                      
                            {% for inscripcion in object_list %}                            
                            {% for inscripciones in object_list %}
                            <div class="col-md-12">
                                <p class="card-text"><strong>materias</strong></p>{{ inscripcion.id_materia }}
                            </div>
                            <div class="col-md-6">
                                <p class="card-text"><strong>alumno</strong></p>{{ inscripcion.id_alumno }}
                            </div>
                                {% if inscripcion.id_materia == inscripciones.alumno %}
                                    <div class="col-md-12">
                                        <p class="card-text"><strong>materias</strong></p>{{ inscripcion.id_materia }}
                                    </div>
                                    <div class="col-md-6">
                                        <p class="card-text"><strong>alumno</strong></p>{{ inscripcion.id_alumno }}
                                    </div>    
                                {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
            <a type="button" class="btn btn-primary" href="{% url 'institucion:inicio_inscripcion' %}">Volver</a>
                
        </div>

    </div>
</div>


{% endblock body %}
{% block extrajs %}

{% endblock extrajs %}