{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    Listado de Alumnos
{% endblock titulo %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}

 {% block body %}     
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong class="card-title">Listado de Alumnos</strong>
                </div>
            </div>
            
        </div>
        <div class="table-stats order-table ov-h">        
        <table id="tabla_alumnop" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Id de Carrera</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>  
                                        
            </tbody>
        </table>
        </div>
    </div>   
{% endblock body %}

 {% block extrajs %}
 <script src="{% static 'assets/js/lib/data-table/datatables.min.js' %}"></script>
 <script src="{% static 'assets/js/lib/data-table/datatables.bootstrap.min.js' %}"></script>
 <script src="{% static 'assets/js/institucion/alumno.js' %}"></script>
 {% endblock extrajs %}
 