{% extends 'index.html' %}
{% load static %}

{% block titulo %}
    envio
{% endblock titulo %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css' %}">
{% endblock extra_css %}

 {% block body %}     
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <strong class="card-title">Mensaje a {{ object }} </strong>
                </div>                
            </div>
            
        </div>
        <div class="table-stats order-table ov-h"> 
            <form action="{% url 'institucion:mensajea' object.id_profesor %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            <p>
                Asunto:
                <input type="text" name="txtAsunto">
            </p>
            <p>
                Mensaje
                <textarea name="txtMensaje" cols="30" rows="5" style="resize: none;"></textarea>

            </p>
            <input type="submit" value="Enviar">
            <a type="button" class="btn btn-primary" href="{% url 'institucion:inicio_profesort' %}">Volver</a>
             
        </form>
        </div>
    </div>   
{% endblock body %}